/* Basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.login-section,
.signup-section {
  max-width: 60%;
  width: 400px;
  margin: 20vh auto;
  padding: 5vw;
  border: 3px solid rgba(165, 42, 42, 0.3);
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 500px rgba(165, 42, 42, 0.8);
}

.login-section p,
.signup-section p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  width: auto;
}

.login-header,
.signup-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(165, 42, 42, 0.5);
  border-bottom: 3px solid rgba(165, 42, 42, 0.5);
  padding: 10px;
  border-radius: 5px;
  height: 5vh;
}

.login-form,
.signup-form {
  margin-top: 20px;
}

.login-section .form-group,
.signup-section .form-group {
  margin-bottom: 20px;
  width: 100%;
}

input[type="email"], #email,
input[type="password"] {
  margin: 0;
  max-width: 400px;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: brown;
  background-color: #eee;
}

#login,
.btn-submit {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(165, 42, 42, 0.6);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#login:hover,
.btn-submit:hover {
  background-color: rgba(165, 42, 42, 0.8);
}

.login-section i,
.signup-section i {
  font-size: 30px;
}

.item-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}
.item-table th{
  background-color: rgba(165, 42, 42, 0.5);
  color: #fff;
  padding: 10px;
}
.item-table td{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
