/* Basic styling */
:root {
  --brand-font: Georgia, "Times New Roman", Times, serif;
  --body-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --main-col: #6b5849;
  --accent-col: rgba(108, 85, 74, 0.3);
  --heading-f-size: 2rem;
  --default-f-size: 1.1rem;
  --border-rad: 3px;
  --container-border-rad: 5px;
  --main-header-f-col: rgba(255, 255, 255, 1);
  --headings-col: rgba(0, 0, 0, 1);
  --inp-fields-border: rgb(204, 204, 204);
  --inp-fields-bg: rgb(238, 238, 238);
  --buttons-col: rgb(76, 55, 45);
}

@media print {
  @page {
    padding: 0;

    /* remove headers and footers */
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;

    /* adding right margin to adjust printing */
    margin-right: 30pt !important;

    size: A5;
    background-color: #fff;
  }
}

html {
  /* fallback to remove headers and footers if @page doesn't work */
  margin: 0 !important;
}

hr {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn-print {
  outline: none;
  border: none;
  background-color: var(--accent-col);
  border-radius: var(--border-rad);
  padding: 5px;
}

.print-icon {
  width: 20px;
  height: 20px;
}

.trash-icon {
  width: 15px;
  height: 15px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--inp-fields-bg);
}

header,
footer {
  background-color: var(--main-col);
  box-shadow: 0 0 10px var(--main-col);
  color: var(--main-header-f-col);
  font-family: var(--body-font);
}

header .heading {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.heading {
  background-color: rgba(13, 13, 13, 0.8);
  box-shadow: 0 3px 10px var(--main-col);
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap;
  height: 6vh;
}

nav ul li,
.contact .team p,
.contact .guide h2 {
  text-transform: uppercase;
  font-family: var(--body-font);
  font-size: var(--default-f-size);
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 0 black;
  padding: 10px 0;
  color: var(--main-header-f-col);
}

nav ul li a:hover {
  font-size: 1.3rem;
  font-weight: 800;
}

nav ul li a,
.items .item-table tbody tr td a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: var(--default-f-size);
  transition: font-size 0.2s ease-in-out;
}

#brand {
  font-weight: 800;
  font-family: var(--brand-font);
  text-shadow: 2px 2px 2px black;
  font-size: 2.2rem;
  padding: 1vh 0;
  border-radius: var(--border-rad);
  width: 80%;
  text-align: center;
  margin-inline: auto;
}

footer {
  position: fixed;
  padding: 0.6vh;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 1vh;
}

.login-section,
.signup-section {
  max-width: 50%;
  width: 50%;
  margin: 20vh auto;
  padding: 5vw;
  border: 3px solid var(--accent-col);
  border-radius: var(--border-rad);
  background-color: var(--accent-col);
}

.login-section p,
.signup-section p {
  font-family: var(--body-font);
  letter-spacing: 2px;
  font-size: var(--heading-f-size);
  padding: 10px;
  border-radius: 5px;
  width: auto;
}

.login-header,
.signup-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-col);
  border-bottom: 5px solid var(--buttons-col);
  padding: 10px;
  border-radius: var(--border-rad);
  height: 5vh;
}

.login-form,
.signup-form {
  margin-top: 20px;
}

.login-section .form-group,
.signup-section .form-group {
  margin-bottom: 20px;
  width: 100%;
}

input[type="email"],
input[type="text"],
#email,
input[type="password"],
.new-bill input,
.add-items-form input,
.edit-item form input,
.add-stock {
  margin: 0;
  max-width: 60%;
  width: 60%;
  padding: 10px;
  border: 1px solid var(--inp-fields-border);
  border-radius: var(--border-rad);
  outline-color: var(--main-col);
  background-color: var(--inp-fields-bg);
  font-size: var(--default-f-size);
}

#login,
.btn-submit,
.item-delete,
.btn-logout,
.print-report,
.btn-add-stock,
.btn-add-items {
  width: 8vw;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: var(--border-rad);
  background-color: var(--buttons-col);
  color: var(--main-header-f-col);
  font-size: var(--default-f-size);
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-weight: 600;
}

header .heading .btn-logout {
  width: 6vw;
  padding: 0;
  font-size: var(--default-f-size);
  background-color: var(--main-col);
  height: 4vh;
  color: white;
  margin: 10px;
  text-transform: uppercase;
  font-family: var(--body-font);
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 0 black;
}

#login:hover,
.btn-submit:hover,
.item-delete:hover,
.btn-logout:hover {
  background-color: var(--accent-col);
  color: rgba(13, 13, 13, 0.8);
}

/* ------------------ HOMEPAGE -------------------------- */
.billing-home {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 3vh;
  margin-inline: auto;
}

#bill-form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.new-bill,
.current-bill {
  max-width: 70%;
  width: 70%;
  overflow: scroll;
  margin-inline: auto;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.billing-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--accent-col);
  border-radius: var(--container-border-rad);
  width: 100%;
}

.billing-actions .btn-submit {
  margin: 1vh;
}

.new-bill h2,
.current-bill h2,
.container h2,
.edit-item h2,
.bill-report h2,
h3 {
  font-family: var(--body-font);
  text-align: center;
  font-size: var(--heading-f-size);
  text-transform: uppercase;
}

.new-bill input,
.current-bill input {
  margin-bottom: 1vh;
  max-width: 80%;
  width: 100%;
  font-size: 1.1rem;
}

#suggestions {
  background-color: var(--accent-col);
  border-radius: var(--border-rad);
  max-width: 60%;
  margin-bottom: 2vh;
  margin-top: 0;
  margin-inline: auto;
  text-align: center;
}

.suggestion {
  margin: 1vh;
  font-size: var(--default-f-size);
  padding: 10px;
  border-bottom: 1px solid var(--headings-col);
  cursor: pointer;
  text-transform: capitalize;
  font-family: var(--body-font);
  font-weight: 600;
}

.suggestion:last-child {
  border: none;
}


.current-bill .table thead tr,
.bills-item-table thead tr,
.container .user-activity-logs table thead tr {
  border-radius: var(--border-rad);
  background-color: var(--main-col);
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 2fr;
  border-bottom: 3px solid black;
}

.current-bill .table thead tr th:nth-child(3) {
  grid-column: span 2;
}

.current-bill .table thead tr th,
.current-bill .table tbody tr td,
.item-table thead tr th,
.item-table tbody tr td,
.bills-item-table thead tr th,
.bills-item-table tbody tr td,
.container .user-activity-logs table thead tr,
.container .user-activity-logs table tbody tr {
  width: 100%;
  font-family: var(--body-font);
  font-size: var(--default-f-size);
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-right: 5px;
  text-transform: capitalize;
}

.current-bill .table thead tr th,
.items .item-table thead tr th,
.bills-item-table thead tr th,
.container .user-activity-logs table thead tr th,
.item-wise-bills .item-wise-bills-table thead tr th {
  font-size: var(--default-f-size);
  letter-spacing: 0.1rem;
  color: var(--main-header-f-col);
  text-transform: uppercase;
}

.current-bill .table tbody tr td {
  border: 1px solid var(--buttons-col);
  background-color: var(--accent-col);
}


.table {
  margin-bottom: 2vh;
}

.bill-table {
  max-height: 50vh;
  height: 100%;
  overflow-y: auto;
}

.current-bill #total {
  text-align: center;
  font-family: var(--body-font);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.current-bill .table tbody tr {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 3fr;
}

.current-bill .table thead tr td:nth-child(3) {
  grid-column: span 2;
}

.current-bill .table tbody tr td,
.bills-item-table tbody tr td {
  text-align: center;
  width: 100%;
}

.item-delete {
  width: 2vw;
  font-size: 15px;
  padding: 0;
  margin: 0;
  width: 20%;
  height: 1.2vw;
  background-color: var(--buttons-col);
}

/* ----------- ADD ITEMS ----------------- */
.container,
.edit-item {
  margin-inline: auto;
  border-radius: var(--border-rad);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10vh;
  width: 40%;
}

.container h2 {
  color: black;
}

.add-items-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-items-form input,
.edit-item form input {
  margin-top: 1vh;
  margin-inline: auto;
  max-width: 100%;
  width: 100%;
}

.add-items-form > * {
  margin-top: 1vh;
}

.container .add-items-form .btn-submit,
.edit-item form .btn-submit {
  width: 80%;
  align-self: center;
  margin-top: 4vh;
}

/* ----------- VIEW ITEMS --------------- */
.items {
  max-width: 45%;
  border-radius: var(--border-rad);
  margin-inline: auto;
  height: auto;
  max-height: 60vh;
  overflow-y: auto;
}

.item-view-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.items .item-view-header h2,
.items h2 {
  text-align: center;
  font-size: var(--heading-f-size);
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--body-font);
}

.bills-item-table {
  margin-inline: auto;
  width: 100%;
}

.item-table thead tr,
.bills-item-table thead tr {
  border-radius: var(--border-rad);
  background-color: var(--main-col);
}

.items .item-table thead tr,
.items .item-table tbody tr {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr 2fr 2fr;
}

.items-home {
  margin: 0;
  border: 2px solid var(--main-col);
  height: 75vh;
  max-height: 80vh;
  padding: 10px;
  background-color: var(--accent-col);
}

.items-home .item-table-home tbody tr td:first-child {
  text-transform: lowercase;
  font-weight: 800;
}

.items-home .item-table-home thead tr,
.items-home .item-table-home tbody tr {
  grid-template-columns: 2fr 6fr 2fr;
}

.items .item-table thead tr th,
.items .item-table tbody tr td {
  text-align: center;
}

.items .item-table tbody tr td,
.bills-item-table tbody tr td {
  font-size: var(--default-f-size);
}

.items .item-table tbody tr td a {
  padding: 5px;
  border-radius: var(--border-rad);
  transition: padding 0.1s ease;
  background-color: var(--buttons-col);
  color: #fff;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.items .item-table tbody .options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.items .item-table tbody tr td i,
.bills-item-table tbody tr td i,
#expand-report,
#expand-filter {
  padding: 0.8vw;
  cursor: pointer;
}

#del-item {
  width: 2vw;
  text-align: center;
  padding: 5px;
  margin: 0;
}

/* ------------- EDIT ITEM ---------------- */
.edit-item {
  max-width: 80%;
  width: auto;
}

.edit-item form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-item form input {
  border-radius: var(--border-rad);
  margin-bottom: 1vh;
}

.edit-item form .btn-submit {
  margin: 1vh auto;
  border-radius: var(--border-rad);
}

/* ------------------- REPORT -------------------------- */
.report-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  padding: 0;
  margin-inline: auto;
}

.bills,
.item-wise-bills,
.item-table,
.user-activity-logs {
  max-height: 50vh;
  height: auto;
  overflow: scroll;
  margin-top: 2vh;
  border: 2px solid black;
  margin-inline: auto;
  background-color: var(--accent-col);
}

.item-wise-bills {
  width: 60%;
}

.item-wise-bills-table {
  width: 100%;
}

.item-wise-bills .item-wise-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item-wise-bills .item-wise-header button {
  height: 3vh;
}

.item-wise-bills .item-wise-header .grand-total {
  text-align: center;
  font-family: var(--body-font);
  font-size: 1.3rem;
}

.item-wise-bills .item-wise-bills-table thead tr,
.item-wise-bills .item-wise-bills-table tbody tr {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  font-family: var(--body-font);
}

.item-wise-bills .item-wise-bills-table thead tr {
  border: 2px solid black;
}

.item-wise-bills .item-wise-bills-table thead tr th {
  text-align: left;
  padding: 5px;
}

.item-wise-bills .item-wise-bills-table tbody tr.group-title {
  font-size: 1.2rem;
  background-color: var(--accent-col);
}

.item-wise-bills .item-wise-bills-table thead tr {
  background-color: var(--main-col);
}

.item-table,
.user-activity-logs {
  width: auto;
}

.bills-item-table thead tr,
.bills-item-table tbody tr {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr;
  text-align: center;
}

.filtered-table thead tr,
.filtered-table tbody tr {
  grid-template-columns: 1fr 3fr 2fr 3fr;
}

.bills .bills-item-table tbody .actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.bill-row {
  margin-bottom: 0.8vh;
}

.expand-bill {
  font-size: 1.2rem;
  font-weight: 900;
  padding: 0 10px;
  margin-left: 2px;
  border: none;
  cursor: pointer;
  background-color: var(--accent-col);
  border-radius: var(--border-rad);
}

.bill-report form {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.bill-report form input,
.user-activity form input {
  border: 2px solid var(--main-col);
  padding: 10px;
  margin: 1vh;
  border-radius: var(--border-rad);
  font-family: var(--body-font);
  font-size: var(--default-f-size);
}

.bill-report h3 {
  font-size: 1.1rem;
}

.bills .bills-item-table tbody .bill-details {
  grid-column: span 4;
  width: 100%;
}

.bills .bills-item-table tbody .bill-details table {
  margin-inline: auto;
  width: 80%;
  border: 2px solid black;
  box-shadow: 5px 5px 0 black;
}

/* ------------ PRINT BILL ---------------- */
.report-heading {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.print-bill,
.itemwise-report {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 80%;
}

.print-bill .bill-slip .billing-details {
  display: flex;
  width: 80%;
  margin-inline: auto;
  justify-content: space-evenly;
  align-items: center;
}

.print-bill h2,
.print-bill h3,
.print-bill p {
  margin: 0.5vw;
  font-size: 1.5rem;
}

.print-bill p {
  font-size: 1rem;
}

.print-bill table {
  margin-inline: auto;
}

.print-bill table .bill-item-details-header{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  font-size: 1.5rem;
}

.print-bill table .bill-item-details-header th {
  font-weight: normal;
}

.print-bill table .bill-item-details,
.print-bill table .totalling {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 1fr;
  font-size: 1.2rem;
}

.totalling {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.bill-report .btn-print,
.btn-add-stock {
  padding: 5px;
  font-size: 0.8rem;
  width: auto;
  margin: 0;
}

.bill-report table {
  margin-bottom: 5px;
}

.print-bill-report table tr:last-child td {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.bill-report-header th {
  font-size: 1.3rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.bill-report-row {
  font-size: 1.2rem;
}

.bill-report-header th:first-child,
.bill-report-row td:first-child {
  text-align: left;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 5px;
}

.bill-report-header th:last-child,
.bill-report-row td:last-child {
  text-align: right;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 5px;
}

.print-bill .bill-report .grand-total,
.itemwise-report .itemwise-report-body .grand-total {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.print-bill .bill-report .grand-total p,
.itemwise-report .itemwise-report-body .grand-total p {
  font-size: 1.3rem;
  font-weight: 900;
}

.item-wise-bills .item-wise-header .grand-total {
  font-size: 1.2rem;
}

.itemwise-report-header {
  width: 50%;
  border: 1px solid black;
  margin-inline: auto;
  box-shadow: 5px 5px 0 black;
  margin-bottom: 10px;
}

.itemwise-report h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.itemwise-report-header {
  font-size: 0.8rem;
}

.itemwise-report-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.itemwise-report-body table thead tr,
.itemwise-report-body table tbody tr {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
}

.itemwise-report-body .subtotal-row {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.group-title {
  text-transform: uppercase;
  font-weight: 700;
}

.subtotal-row {
  font-weight: 700;
  margin-bottom: 10px;
}

.thank-you {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.thank-you p {
  margin: 0;
}

.thank-you p:first-child {
  font-weight: 800;
}

/* ----------------- STOCK UPDATION ------------------- */
.add-stock {
  font-size: 0.9rem;
  padding: 6px;
  margin: 0;
}

.items .stock-update-table thead tr,
.items .stock-update-table tbody tr {
  grid-template-columns: 1fr 4fr 4fr 2fr 2fr 3fr;
}

/* --------------- ACTIVITY --------------------------- */
.container .user-email,
.container .bill-count {
  font-family: var(--body-font);
  font-size: 1.2rem;
  text-align: center;
  padding: 5px;
  border-radius: var(--border-rad);
  margin: 0;
  background-color: var(--accent-col);
  width: 70%;
}

.container {
  margin-top: 5vh;
  margin-inline: auto;
  border: none;
}

.user-activity {
  width: 100%;
}

.container .user-activity-logs {
  max-height: 50vh;
  height: auto;
  overflow: scroll;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .bill-count {
  background-color: var(--inp-fields-bg);
}

.container .user-activity-logs table thead tr,
.container .user-activity-logs table tbody tr {
  display: grid;
  grid-template-columns: 1fr 3fr 6fr;
  text-align: center;
  font-family: var(--body-font);
  gap: 20px;
  padding-right: 5px;
}

.container .user-activity-logs table thead tr th:last-child,
.container .user-activity-logs table tbody tr td:last-child {
  text-align: left;
}

/* --------------- CONTACT ---------------------------- */
.contact {
  font-family: var(--body-font);
  margin-inline: auto;
  width: 40%;
  max-width: 50%;
  text-align: center;
  margin-top: 10vh;
}

.contact .guide,
.contact .team {
  padding: 5px;
  border-radius: 5px;
  margin-top: 1vh;
}

.contact .team p,
.contact .guide h2 {
  color: black;
  padding: 3px;
  text-align: center;
  margin-inline: auto;
  border-radius: 5px;
  font-weight: 900;
  text-shadow: none;
  text-transform: none;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details h2 {
  margin: 5px;
}

.details p {
  margin: 2px;
}

.member,
.guide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--accent-col);
  padding: 0;
  margin: 1px;
  border-radius: var(--border-rad);
}

.member p:last-child {
  background-color: var(--buttons-col);
  color: #fff;
  font-weight: 400;
  letter-spacing: normal;
}

/* ----------- POPUP ------------------------- */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  position: absolute;
  z-index: 2;
  background-color: rgb(255, 85, 85);
  border-radius: var(--border-rad);
  left: 1vw;
  bottom: 8vh;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal .text p,
#errmsg {
  font-size: 1.1rem;
  color: rgb(255, 219, 219);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-family: var(--body-font);
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}
