{% extends 'layout.html' %} {% block title %}Contact Us{% endblock %} {%
block content %}
<div class="contact">
  <div class="guide">
    <h3>Faculty Guided:</h3>
    <div class="details">
      <h2>Mohammed Khurram</h2>
      <p>Associate Professor</p>
      <p>Department of CSE</p>
      <p>Dayananda Sagar University</p>
    </div>
  </div>
  <div class="team">
    <h3>Executed By:</h3>
    <div class="member">
      <p>Nuthan B</p>
      <p>nuthanb@protonmail.com</p>
    </div>
    <div class="member">  
      <p>Pavanananda K S</p>
      <p>pvn.24.offi@gmail.com</p>
    </div>
    <div class="member">
      <p>Mohammed Kaifulla Kazim</p>
      <p>kaifullakazim@gmail.com</p>
    </div>
    <div class="member">
      <p>Mohammed Saad Fazal</p>
      <p>Mdsaad7803@gmail.com</p>
    </div>
  </div>
</div>
{% endblock %}
