{% extends 'layout.html' %} {% block title %}Billing System{% endblock %} {%
block content %}

<section class="bill-report">
  <h2>BILLS</h2>
  <h3>from {{ from_date }} to {{ to_date }}</h3>
  <div class="bills">
    <table class="bills-item-table">
      <thead>
        <tr>
          <th>Bill ID</th>
          <th>Date & Time</th>
          <th>Bill Total</th>
        </tr>
      </thead>
      <tbody>
        {% for bill in bills %}
        <tr>
          <td>{{ bill.id }}</td>
          <td>{{ bill.bill_date_time.strftime('%d-%m-%Y | %H:%M ') }}</td>
          <td>{{ bill.total }}</td>
          <td>
            <i
              data-item-id="{{ bill.id }}"
              id="del-item"
              class="fa-solid fa-trash-can"
            ></i>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="bill-items"></div>
</section>

{% endblock %}
