<!-- index.html -->
{% extends 'layout.html' %} {% block title %}Billing System{% endblock %} {%
block content %}
<section class="billing-home">
  <div class="new-bill">
    <h2 style="color: black">Add items to Bill</h2>
    <form id="bill-form" action="{{ url_for('create_bill') }}" method="post">
      <div class="form-group">
        <input
          type="text"
          id="item_name"
          name="item_name"
          class="form-control"
          autocomplete="off"
          oninput="getSuggestions(this.value)"
          placeholder="Item Name"
        />
        <div id="suggestions"></div>
      </div>
      <div class="form-group">
        <input
          type="number"
          id="quantity"
          name="quantity"
          class="form-control"
          min="1"
          placeholder="Quantity"
        />
      </div>
      <button class="btn-submit" type="button" onclick="addItemToBill()">
        Add Item
      </button>
    </form>
  </div>

  <div class="current-bill">
    <h2 style="color: black">Billing</h2>
    <div class="billing-actions">
      <div id="total">Total: ₹ 0</div>
      <button onclick="submitBill()" class="btn-submit">Print Bill</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody id="bill_items">
        <!-- This will be populated dynamically with JavaScript -->
      </tbody>
    </table>
  </div>
</section>
<script>
  function getSuggestions(keyword) {
    // Clear previous suggestions
    document.getElementById("suggestions").innerHTML = "";
    // Make AJAX request to fetch suggestions
    fetch(`/get_suggestions?keyword=${keyword}`)
      .then((response) => response.json())
      .then((data) => {
        // Populate suggestions div with the received suggestions
        data.forEach((suggestion) => {
          const suggestionElement = document.createElement("div");
          suggestionElement.classList.add("suggestion");
          suggestionElement.textContent = suggestion;
          suggestionElement.onclick = () => {
            // Set the clicked suggestion as the input value
            document.getElementById("item_name").value = suggestion;
            // Clear suggestions
            document.getElementById("suggestions").innerHTML = "";
          };
          document.getElementById("suggestions").appendChild(suggestionElement);
        });
      })
      .catch((error) => console.error("Error fetching suggestions:", error));
  }

  function addItemToBill() {
    // Get the selected item's name, quantity, and price
    var itemName = document.getElementById("item_name").value;
    var itemQuantity = parseInt(document.getElementById("quantity").value);

    // Check if the item already exists in the bill
    var existingRow = findItemRow(itemName);
    if (existingRow) {
      // Update quantity of existing item
      var existingQuantity = parseInt(existingRow.cells[1].innerHTML);
      existingRow.cells[1].innerHTML = existingQuantity + itemQuantity;

      // Update total amount in the bill
      var itemPrice = parseFloat(existingRow.cells[2].innerHTML);
      updateTotalAmount(itemQuantity * itemPrice);
    } else {
      // Make AJAX request to fetch the price for the selected item
      fetch(`/get_item_price?item_name=${itemName}`)
        .then((response) => response.json())
        .then((data) => {
          var itemPrice = data.price; // Assuming the server returns the price in the response
          if (itemPrice) {
            // Create a new row for the bill table
            var table = document.getElementById("bill_items");
            var newRow = table.insertRow();

            // Insert cells for item name, quantity, price, and delete option
            var cellName = newRow.insertCell(0);
            var cellQuantity = newRow.insertCell(1);
            var cellPrice = newRow.insertCell(2);
            var cellDelete = newRow.insertCell(3);

            // Populate cells with item details
            cellName.textContent = itemName;
            cellQuantity.textContent = itemQuantity;
            cellPrice.textContent = itemPrice;
            cellPrice.classList.add("price");

            // Create delete button and attach event listener
            var deleteButton = document.createElement("button");
            deleteButton.innerHTML = "&#10006;";
            deleteButton.classList.add("item-delete");
            deleteButton.onclick = function () {
              deleteItemFromBill(newRow); // Pass newRow as parameter
            };
            cellDelete.appendChild(deleteButton);

            // Update total amount in the bill
            updateTotalAmount(itemQuantity * itemPrice);
          } else {
            console.error("Price not found for the selected item.");
          }
        })
        .catch((error) => console.error("Error fetching item price:", error));
    }
  }

  function findItemRow(itemName) {
    var table = document.getElementById("bill_items");
    for (var i = 0; i < table.rows.length; i++) {
      if (table.rows[i].cells[0].textContent === itemName) {
        return table.rows[i];
      }
    }
    return null;
  }
  function deleteItemFromBill(row) {
    var table = document.getElementById("bill_items");
    var quantity = parseInt(row.cells[1].textContent);
    var rowIndex = row.rowIndex;
    var price = parseFloat(row.cells[2].innerHTML);

    if (quantity > 1) row.cells[1].textContent -= 1;
    else {
      if (rowIndex >= 0 && rowIndex < table.rows.length)
        table.deleteRow(rowIndex);
      else if (rowIndex == table.rows.length) table.deleteRow(-1);
      else console.error("Row index is out of range.");
    }
    updateTotalAmount(-price);
  }

  function updateTotalAmount(amount) {
    var totalElement = document.getElementById("total");
    var currentTotal =
      parseFloat(totalElement.textContent.replace("Total: $", "")) || 0;
    var newTotal = currentTotal + amount;
    totalElement.textContent = "Total: $" + newTotal.toFixed(2);
  }
  function submitBill() {
    // Get the items from the bill table
    var tableRows = document.querySelectorAll("#bill_items tr");
    var items = [];
    var total = 0; // Initialize total amount

    tableRows.forEach(function (row) {
      var item = {
        name: row.cells[0].textContent,
        quantity: parseInt(row.cells[1].textContent),
        price: parseFloat(row.cells[2].textContent),
      };
      console.log(item);
      items.push(item);

      // Update total amount
      total += item.quantity * item.price;
    });

    // Prepare the data to send to the server
    var data = {
      items: items,
      total: total,
    };

    console.log(data);

    // Make an AJAX request to submit the bill data to the server
    fetch("/submit_bill", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => {
        if (response.ok) {
          // Handle successful submission
          console.log("Bill submitted successfully");
          window.location.reload();
          updateInventory(items);
        } else {
          // Handle error response
          console.error("Failed to submit bill:", response.statusText);
        }
      })
      .catch((error) => {
        // Handle network error
        console.error("Error submitting bill:", error);
      });
  }
</script>
{% endblock %}
