{% extends 'fresh.html' %} {% block title %}Item-wise Report{% endblock %} {%
block content %}
<section class="itemwise-report">
  <h3>DSU FOOD COURT</h3>
  <div class="itemwise-report-header">
    <h2>ITEM GROUP SALES REPORT</h2>
  </div>
  {% if from_date != '0' and to_date != '0' %}
  <p>From {{ from_date }} TO {{ to_date }}</p>
  {% endif %}
  <hr />
  <div class="itemwise-report-body">
    <table>
      <thead>
        <tr>
          <th>Group Name</th>
          <th>Quantity</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for group, group_info in grouped_items.items() %}
        <tr class="group-title">
          <td>{{ group }}</td>
        </tr>
        {% for item, item_info in group_info['items'].items() %}
        <tr class="group-details">
          <td>{{ item|capitalize }}</td>
          <td>{{ item_info['quantity'] }}</td>
          <td>{{ item_info['price'] }}</td>
        </tr>
        {% endfor %}
        <tr class="subtotal-row" style="border-top: 1px solid black;">
          <td>Sub Total</td>
          <td>{{ group_info['total_quantity'] }}</td>
          <td>{{ group_info['total_price'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr />
    <p class="grand-total"><strong>Grand Total:</strong> {{ grand_total }}</p>
  </div>
</section>
<script>
  /*
  function redirectAfterPrint() {
    window.location.href = "/";
  }
  window.addEventListener("afterprint", redirectAfterPrint);
  window.print();
*/
</script>
{% endblock %}
