<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DSU FOOD COURT | {% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="heading">
        <div id="brand">DSU FOOD COURT</div>
        <button onclick="logout()" class="btn-logout">Logout</button>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/report">Report</a></li>
          <li><a href="/update-stock">Update Item Stock</a></li>
          <li><a href="/items">View Items</a></li>
          <li><a href="/user-activity">Activity</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>
        &copy; Dayananda Sagar University - Department of Computer Science
        Engineering
      </p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
      function logout() {
        window.location.href = "/logout";
      }

      document.onkeydown = function (e) {
        if (e.key === "F12") {
          e.preventDefault();
        }
      };

      document.addEventListener("keydown", function (event) {
        if (event.key === "F1") {
          window.location.href = "/";
        } else if (event.key === "F2") {
          window.location.href = "/report";
        } else if (event.key === "F3") {
          window.location.href = "/update-stock";
        } else if (event.key === "F4") {
          window.location.href = "/items";
        } else if (event.key === "F5") {
          window.location.href = "/user-activity";
        }
      });
    </script>
  </body>
</html>
