<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Your Website Title{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <div style="text-align: center; color: white;" id="heading-of-the-website">CANTEEN APP</div>
      <nav>
        <ul>
          <li><a href="/" class="text-color">Home</a></li>
          <li><a href="#" class="text-color">Report</a></li>
          <li><a href="/add_item" class="text-color">Add Items</a></li>
          <li><a href="/items" class="text-color">View Items</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>&copy; Developed By:-</p>
      <p>Dayananda Sagar University - Department of Computer Science Engineering</p>
      <p>Faculty Guided:- Mohammed Khurram</p>
      <p>Executed By:- Nuthan, Pavan Bhat, Mohammed Kaifulla Kazim, Mohammed Saad Fazal</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
