<!-- report.html -->
{% extends 'layout.html' %} {% block title %}Billing System{% endblock %} {%
block content %}
<section class="bill-report">
  <h2>SEARCH BILLS</h2>
  <form action="{{ url_for('filter_bills') }}" method="post">
    <input
      placeholder="From date"
      type="date"
      id="from_date"
      name="from_date"
    />
    <input placeholder="To date" type="date" id="to_date" name="to_date" />
    <button type="submit" class="btn-submit">Search</button>
  </form>
  <div class="bills">
    <table class="bills-item-table">
      <thead>
        <tr>
          <th>Bill ID</th>
          <th>Date & Time</th>
          <th>Bill Total</th>
          <th>
            <button class="btn-submit btn-print" onclick="print_reports()">
              Print Report
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for bill in bills %}
        <tr class="bill-row" data-item-id="{{ bill.id }}">
          <td>{{ bill.id }}</td>
          <td>{{ bill.bill_date_time.strftime('%d-%m-%Y | %H:%M ') }}</td>
          <td>{{ bill.total }}</td>
          <td class="actions">
            <i
              class="fa-solid fa-print"
              onclick="sendToPrint({{ bill.id }})"
            ></i>
            <button class="expand-bill">+</button>
          </td>
          <td
            class="bill-details"
            id="details-{{ bill.id }}"
            style="display: none"
          ></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
<script>
  function sendToPrint(billId) {
    console.log(billId);
    window.location.href = `/print-bill/${billId}`;
  }

  function print_reports() {
    window.location.href = "/print-report/0/0";
  }

  document.addEventListener("DOMContentLoaded", function () {
    const expandButtons = document.querySelectorAll(".expand-bill");
    expandButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        const billId = button.closest(".bill-row").dataset.itemId;
        const details = document.getElementById("details-" + billId);
        console.log(billId, details);
        if (details.style.display === "none") {
          fetchBillDetails(billId, details); // Fetch and display details
          button.textContent = "-";
        } else {
          details.style.display = "none"; // Hide details
          button.textContent = "+";
        }
      });
    });

    function fetchBillDetails(billId, detailsElement) {
      fetch(`/bill-details/${billId}`)
        .then((response) => response.json())
        .then((data) => {
          const tableHTML = `
          <table>
            <thead>
              <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              ${data.items
                .map(
                  (item) => `
                  <tr>
                    <td>${item.item_name}</td>
                    <td>${item.quantity}</td>
                    <td>${item.price}</td>
                  </tr>
                `
                )
                .join("")}
            </tbody>
          </table>
        `;
          detailsElement.innerHTML = tableHTML;
          detailsElement.style.display = "table-cell"; // Show details
        })
        .catch((error) => console.error("Error fetching bill details:", error));
    }
  });
</script>
{% endblock %}
