{% extends 'layout.html' %} {% block title %}Billing System{% endblock %} {% block content %}

<section class="bill-report">
    <div class="bills">
        <h2 style="color: white;">Items</h2>
        <table class="item-table">
            <thead>
                <tr>
                    <th style="color: white;">Name</th>
                    <th style="color: white;">Group</th>
                    <th style="color: white;">Available</th>
                    <th style="color: white;">Price</th>
                    <th style="color: white;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td style="background-color: white;">{{ item.name }}</td>
                    <td style="background-color: white;">{{ item.group }}</td>
                    <td style="background-color: white;">{{ item.quantity }}</td>
                    <td style="background-color: white;">{{ item.price }}</td>
                    <td style="background-color: white;"><a href="{{ url_for('edit_item', item_id=item.id) }}">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="bill-items">
    
    </div>
</section>

{% endblock %}