{% extends 'fresh.html' %} {% block title %}Billing System{% endblock %} {%
block content %}
<section class="print-bill">
  <div class="bill-slip">
    <h2>DSU FOOD COURT</h2>
    <h3>DAYANANDA SAGAR UNIVERSITY</h3>
    <p>Kudlu Gate, Hosur Main Road, Bangalore - 560068</p>
    <hr/>
    <div class="billing-details">
      <p>Bill No: {{ bill_id }}</p>
      <p>Bill Date: {{ bill_date }}</p>
      <p>Bill Time: {{ bill_time }}</p>
    </div>
    <hr/>
    <table>
      <tr class="bill-item-details-header">
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Amount</th>
      </tr>

      {% for item in items %}
      <tr class="bill-item-details">
        <td>{{ item.item_name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity * item.price }}</td>
      </tr>
      {% endfor %}
      <tr class="totalling">
        <th>TOTAL</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>{{ total }}</td>
      </tr>
    </table>
  </div>
</section>
<script>
  // window.print();
</script>
{% endblock %}
